*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fff;
    --snd-bg-color: #dad0d8;
    --text-color: #000;
    --main-color: #49243E;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* main css */

section{
    min-height: 100vh;
    /* padding: 10rem 9% 2rem; */
    padding: 10rem;
}

.card{
    background: var(--snd-bg-color);
}

.card-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.card-box img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.card-item{
    min-height: 450px;
    max-width: 300px;background: var(--bg-color);
    border: .3rem solid var(--bg-color);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: .3s ease;
}
.card-item:hover{
    border-color: var(--main-color);
    transform: scale(1.05);
}
.card-item h2{
    font-size: 3rem;
}
.card-item p{
    font-size: 1.5rem;
    text-align: center;
}
#star{
    color: gold;
    font-size: 2rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.3rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: .3s ease;
}
.btn:hover{
    box-shadow: 0 0 1.6rem var(--main-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}
#email{
    font-size: 1.5rem;
}
#number{
    font-size: 1.5rem;
}
